@using IReporter.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>Top News</h2>
<div class="row">
    <div class="col-md-8">
        @(Html.Kendo().TabStrip().Name("tabstrip").Animation(animation => animation.Open(effect => effect.Fade(FadeDirection.In))).Items(tabstrip =>
              {
                  tabstrip.Add().Text("Most read").LoadContentFrom("GetMostRead", "HomeTabStrip");

                  tabstrip.Add().Text("Most liked").LoadContentFrom("GetMostLiked", "HomeTabStrip");

                  tabstrip.Add().Text("Most Commented").LoadContentFrom("GetMostCommented", "HomeTabStrip");

                  tabstrip.Add().Text("Latest").LoadContentFrom("GetNewest", "HomeTabStrip");

                  tabstrip.Add().Text("Weather")
                            .Content(@<text>@Html.Partial("../HomeTabStrip/_Weather")</text>)
                            .ContentHtmlAttributes(new { style = "text-align:center;" });
              })
              .Events(e => e.ContentLoad("setTabStripHeight"))
        )
    </div>
</div>
<h2>All News</h2>
@(Html.Kendo().Grid<ArticleViewModel>()
        .Name("HomeArticlesGrid")
        .Columns(cols =>
        {
            cols.Bound(c => c.PrimaryImageUrl).Title("<h4><span class=\"fa fa-picture-o\"></span></h4>").ClientTemplate(@"<a href='/articles/#=Id#-#=Title.replace(/[^a-zA-Z0-9]/g,'-')#'><img src='../../Content/Images/#:PrimaryImageUrl#' width=200 height=150></a>").Sortable(false).Width(220);
            cols.Bound(c => c.Content).Title("<h4><span class=\"fa fa-newspaper-o\"></span></h4>").ClientTemplate(
                @"<h3><a href='/articles/#=Id#-#=Title.replace(/[^a-zA-Z0-9]/g,'-')#'>#:Title#</a></h3>
                    <small>#=kendo.toString(CreatedOn, 'dd/M/yyyy H:mm')# by #=Author.FirstName# #=Author.LastName#</small>
                    <p>#=Excerpt# <a href='/articles/#=Id#-#=Title.replace(/[^a-zA-Z0-9]/g,'-')#'><span class='glyphicon glyphicon-plus-sign'></span> read more</a></p>");
            cols.Bound(c => c.Category).Title("<h4><span class=\"fa fa-list\"></span></h4>").ClientTemplate(@"<h4><a href='/#=Category#'>#=Category#</a></h4>").Width(150);
        })
        .Pageable()
        .DataSource(d => d.Ajax()
            .PageSize(5)
            .Read(read => read.Action("GetAll", "HomeGrid"))
            .Model(model => model.Id(m => m.Id))))

@section Scripts{
    <script>
        function setTabStripHeight(e) {
            e.sender.wrapper.find('.k-content').height('100%');
        }
    </script>
}