body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    border: 1px solid white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

td > img {
    margin: 0;
}

h3 {
    margin-top: 0;
}

.special-link {
    position: absolute;
    top: 16px;
    left: -6px;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

#article-comments th.k-header {
    padding: 0 10px;
}
