body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    border: 1px solid #fff;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

td > img {
    margin: 0;
}

h3 {
    margin-top: 0;
}

.special-link {
    position: absolute;
    top: 16px;
    left: -6px;
}

.nav > li:hover {
    color: #fff;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

#article-comments th.k-header {
    padding: 0 10px;
}

th span.k-link h4 {
    padding: 0;
    margin: 0;
}

#votes-count {
    display: inline-block;
}

#up, #down {
    font-size: 1.5em;
}

#up:hover, #down:hover {
    color: #fff;
    cursor: pointer;
}

#voting-block {
    border: 1px solid #2a9fd6;
    border-radius: 5px;
    width: 130px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0 0 0;
}
